<!-- <form [formGroup]="reactform" (ngSubmit)="onsubmit()">
  <div class="flex justify-content-evenly shadow">
    <div class="grid px-8 py-5 w-4 my-6 mx-8 border_hole">
      <h1 class="pb-3">Reactive Form</h1>
      <div class="formgrid grid">
        <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
          <label for="firstname2">Firstname</label>
          <input id="firstname2" type="text" formControlName="fname"
            class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
        <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
          <label for="lastname2">Lastname</label>
          <input id="lastname2" type="text" formControlName="lname"
            class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
          <label for="firstname2">Fullname</label>
          <input id="firstname2" type="text" formControlName="name"
            class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
        <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
          <label for="lastname2">Dob</label>
          <input id="lastname2" type="date" formControlName="dob"
            class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
          <label for="firstname2">PhoneNumber</label>
          <input id="firstname2" type="text" formControlName="mobile"
            class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
        <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
          <label for="lastname2">Email-ID</label>
          <input id="lastname2" type="text" formControlName="email"
            class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
      </div>
      <div class="col-12 lg:col-6 md:col-6 sm:col-12 p-0">
        <label for="state">Nationality</label>
        <select id="state" formControlName="nation"
          class="w-full text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto">
          <option>---</option>
          <option>---</option>
          <option>---</option>
          <option>---</option>
          <option>---</option>
        </select>
      </div>
      <div class="col-12 lg:col-6 md:col-6 sm:col-12 p-0">
        <label for="state">State</label>
        <select id="state" formControlName="state"
          class="w-full text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto">
          <option>---</option>
          <option>---</option>
          <option>---</option>
          <option>---</option>
          <option>---</option>
        </select>
      </div>
      <div class="formgrid grid">
        <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
          <label for="firstname2">Password</label>
          <input id="firstname2" type="text" formControlName="pass"
            class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
        <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
          <label for="lastname2">Confirm-Password</label>
          <input id="lastname2" type="text" formControlName="cpassControl"
            class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
      </div>
      <div class="col-12 lg:col-12 md:col-12 sm:col-12 p-0">
        <h5>Gender</h5>
        <div class="formgroup-inline">
          <div class="field-radiobutton">
            <input type="radio" name="Gender" id="Male" value="Male" formControlName="Male" />
            <label for="Male">Male</label>
          </div>
          <div class="field-radiobutton">
            <input type="radio" name="Gender" id="Female" value="Female" formControlName="Female" />
            <label for="Female">Female</label>
          </div>
          <div class="field-radiobutton">
            <input type="radio" name="Gender" id="Others" value="Others" formControlName="Others" />
            <label for="Others">Others</label>
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-6 md:col-6 sm:col-12 px-6">
        <button type="button"
          class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">
          Reset
        </button>
      </div>
      <div class="col-12 lg:col-6 md:col-6 sm:col-12 px-6">
        <button type="button"
          class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">
          Save
        </button>
      </div>
    </div>
  </div>
</form> -->

<!-- <div class="grid m-8 justify-content-around">

  <div class="col-6">
    <div class="field">
      <label for="firstname5" class="p-sr-only">Firstname</label>
      <input
        id="firstname5"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
        placeholder="Firstname"
      />
    </div>
  </div>

    <div class="col-6">
      <div class="field">
        <label for="lastname5" class="p-sr-only">Lastname</label>
        <input
          id="lastname5"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
          placeholder="Lastname"
        />
      </div>
    </div>

</div> -->

<form [formGroup]="reactform" (ngSubmit)="onsubmit()">
  <div class="flex justify-content-evenly shadow">
    <div class="grid px-8 py-5 w-4 my-6 mx-8 border_hole">
          <h1 class="pb-3">Reactive Form</h1>
            <div class="formgrid grid">
                <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
                    <label for="firstname2">Firstname</label><br>
                    <input id="firstname2" type="text" formControlName="fname"
                        class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    <div>
                        <p class="red" *ngIf="fnameControl?.invalid && (fnameControl?.dirty || fnameControl?.touched)">Letters Only cannot contain Whitespace</p>
                        <p class="red" *ngIf=" fnameControl?.invalid && submitted">FirstName is Required</p>
                        <p class="red" *ngIf="fnameControl?.errors?.['whitespace']"></p>
                    </div>
                </div>
                <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
                    <label for="lastname2">Lastname</label><br>
                    <input id="lastname2" type="text" formControlName="lname"
                        class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                        <p class="red" *ngIf="lname?.invalid && (lname?.dirty || lname?.touched)">Letters Only cannot contain Whitespace</p>
                        <p class="red" *ngIf=" lname?.invalid && submitted">LastName is Required</p>
                        <p class="red" *ngIf="lname?.errors?.['whitespace']"></p>
                </div>
                <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
                    <label for="Fullname">Fullname</label><br>
                    <input id="Fullname" type="text" formControlName="name" [readonly]="(fnameControl.invalid)&&(lname.invalid)"
                        class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    <p class="red" *ngIf="submitted && name?.invalid">FullName is Required</p>
                </div>
                <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
                    <label for="date">DOB</label><br>
                    <input id="date" type="date" formControlName="dob"
                        class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    <p class="red" *ngIf="dob?.invalid && dob?.touched">DOB is Required</p>
                    <p class="red" *ngIf="submitted && dob?.invalid">DOB is Required</p>
                </div>
                <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
                    <label for="number">PhoneNumber</label><br>
                    <input id="number" type="text" formControlName="mobile"
                        class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    <p class="red" *ngIf="mobile?.invalid && mobile?.touched">Mobile is Required</p>
                    <p class="red" *ngIf="submitted && mobile?.invalid">Mobile is Required</p>
                </div>
                <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
                    <label for="email">Email-ID</label><br>
                    <input id="email" type="email" formControlName="email"
                        class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    <div>
                        <p class="red" *ngIf="email?.invalid && email?.touched">Email is Required</p>
                        <p class="red" *ngIf="email.errors?.['invalid']">Email is Required</p>
                        <p class="red" *ngIf="submitted && email?.invalid">Email is Required</p>
                    </div>
                </div>

                <div class="col-12 lg:col-6 md:col-6 pr-0 sm:col-12">
                    <label for="Nationality">Nationality</label><br>
                    <select id="Nationality" formControlName="nation"
                        class="w-full text-base text-color surface-overlay p-1  border-1 border-solid surface-border border-round outline-none focus:border-primary"
                        style="appearance: auto">
                        <option hidden value=""></option>
                        <option *ngFor="let c of countryList">
                            {{c.countryname}}
                        </option>
                    </select>
                    <p class="red" *ngIf="submitted && nation?.invalid">Nation is Required</p>
                </div>
                <div class="col-12 lg:col-6 md:col-6 pr-0 sm:col-12">
                    <label for="state" class="">State</label><br>
                    <select id="state" formControlName="state"
                        class="w-full text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                        style="appearance: auto">
                        <option hidden value=""></option>
                        <option *ngFor="let s of stateList">
                            {{s.statename}}
                        </option>
                    </select>
                    <p class="red" *ngIf="state?.invalid && state?.touched">State is Required</p>
                    <p class="red" *ngIf="submitted && state?.invalid">State is Required</p>
                </div>

                <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
                    <label for="Password">Password</label><br>
                    <input id="Password" type="text" formControlName="pass"
                        class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    <div>
                        <p class="red" *ngIf="pass?.invalid && pass?.touched ">Password is Required</p>
                        <p class="red" *ngIf="pass.errors?.['invalid']">Password is Required</p>
                        <p class="red" *ngIf="submitted && pass?.invalid">Password is Required</p>
                    </div>
                </div>
                <div class="field col-12 lg:col-6 md:col-12 sm:col-12">
                    <label for="confirm">Confirm-Password</label><br>
                    <input id="confirm" type="text" formControlName="cpass"
                        class="text-base text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    <div>
                        <p class="red" *ngIf="cpassControl?.errors?.['required'] && cpassControl?.touched">
                            Confirm Password is required
                        </p>
                        <p class="red" *ngIf="cpassControl?.errors?.['matching']">
                            Confirm Password does not match
                        </p>
                        <p class="red" *ngIf="submitted && cpassControl?.invalid">confirm Password is Required</p>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-12 md:col-12 sm:col-12 p-0">
                <h5>Gender</h5>
                <div class="formgroup-inline">
                    <div class="field-radiobutton">
                        <input type="radio" name="Gender" formControlName="gender" value="Male" id="Male" />
                        <label for="Male">Male</label>
                    </div>
                    <div class="field-radiobutton">
                        <input type="radio" name="Gender" formControlName="gender" value="Female" id="Female" />
                        <label for="Female">Female</label>
                    </div>
                </div>
                <p class="red" *ngIf="submitted && gender?.invalid">Gender is Required</p>
            </div>
            <div class="col-12 lg:col-6 md:col-6 sm:col-12">
                <button type="button" (click)="reset()"
                    class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">
                    Reset
                </button>
            </div>
            <div class="col-12 lg:col-6 md:col-6 text-right p-0 sm:col-12">
                <button type="submit"
                    class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">
                    Save
                </button>
            </div>
        </div>
    </div>
</form>